{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <h1>Modifier l'utilisateur </h1>

        <div class="container mt-5">
            {{ form_start(formUpdateUser) }}
            <select name="userId" id="" style="display: none">
                {% for user in users %}
                    <option></option>
                {% endfor %}
            </select>
             {{ form_end(formUpdateUser) }}
        </div>
    </div>

{% endblock body %}
