{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <h1>Modifier la tâche </h1>

        <div class="container mt-5">
            {{ form_start(formUpdate) }}
            <select name="taskId" id="" style="display: none">
                {% for task in tasks %}
                    <option value="{{ task.id }}">{{ task.name }}</option>
                {% endfor %}
            </select>
            {{ form_end(formUpdate) }}
        </div>

    </div>

{% endblock body %}
